<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cabinet Muriel Artis Avocat / Droit de la propriété intellectuelle - Droit de la santé - Droit de l'entreprise - Droit commercial</title>
        <!-- Meta Tags -->
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="robots" content="index, follow"/>
        <meta name="description" content="Muriel Artis, Avocat, Aix-les-Bains, Droit de la propriété intellectuelle, Droit de la santé, Droit de l'entreprise, Droit commercial"/>
        <meta name="keywords" content="Artis, Muriel Artis, cabinet, avocat, droit, propriété intellectuelle, droit de la santé, droit de l'entreprise, droit commercial, marque, droits d'auteurs, brevet, droit des sociétés, droit de la distribution, contentieux, aix-les-bains, savoie"/>
        <meta name="author" content="Bruno Kerrien"/>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <!-- CSS -->
        <link rel="stylesheet" href="/beta/style/screen.css" media="screen" type="text/css"/>
        <!--[if IE 6]>
            <link rel="stylesheet" href="/beta/style/screen-ie6.css" media="screen" type="text/css"/>
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" href="/beta/style/screen-ie7.css" media="screen" type="text/css"/>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1 id="logo"><a href="/beta"><span>Artis Avocat</span></a></h1>
                <h2 id="headline"><span>Le droit, un outil au service de l'entreprise privée ou publique</span></h2>
            </div>
            <div id="container">
                <div id="content">
                    <h1 class="warning">Désolé, cette page n'existe pas !</h1>
                </div>
                <div id="footer">
                    <p>Copyright &copy; 2008-2012 <span class="company">Artis Avocat</span><span class="separator">|</span><a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.artis-avocat.com/beta/style/screen.css">CSS</a> Valid</p>
                </div>
            </div>
        </div>
    </body>
</html>