                <div id="content">
                    <h3>Le <strong>CABINET MURIEL ARTIS AVOCAT</strong> fondé en 2007 par <strong>Me Muriel ARTIS</strong>, avocat au Barreau de Chambéry, intervient pour des entreprises privées et publiques.</h3>
                    <p><strong>Me Muriel ARTIS</strong> exerce depuis plus de 11 ans la profession d'avocat dans les domaines suivants :</p>
                    <ul>
                        <li>Le droit de la propriété intellectuelle : marque, droit d'auteur, brevet, dessins et modèles, droit de l'informatique</li>
                        <li>Le droit de la santé : coopération hospitalière, procédure de construction, marchés publics</li>
                        <li>Le droit de l'entreprise : droit des sociétés, droit des contrats</li>
                        <li>Le droit commercial : droit de la distribution, contentieux commerciaux</li>
                    </ul>
                </div>
