                <div id="content">
                    <p>Outre la spécialisation de Me Muriel ARTIS, le CABINET MURIEL ARTIS AVOCAT intervient dans les domaines d'activité suivants :</p>
                    <dl class="level1">
                        <dt>Le droit de la santé</dt>
                        <dd>Coopération hospitalière</dd>
                        <dd>Procédure de construction</dd>
                        <dd>Marchés publics</dd>
                    </dl>
                    <dl class="level1">
                        <dt>Le droit de l'entreprise</dt>
                        <dd>Droit des sociétés</dd>
                        <dd>Droit des contrats</dd>
                    </dl>
                    <dl class="level1">
                        <dt>Le droit commercial</dt>
                        <dd>Droit de la distribution</dd>
                        <dd>Contentieux commerciaux</dd>
                    </dl>
                </div>
