<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Cabinet Muriel Artis Avocat / Droit de la propriété intellectuelle - Droit de la santé - Droit de l'entreprise - Droit commercial</title>
    <!-- Meta Tags -->
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="description" content="Muriel Artis, Avocat, Aix-les-Bains, Droit de la propriété intellectuelle, Droit de la santé, Droit de l'entreprise, Droit commercial"/>
    <meta name="keywords" content="Artis, Muriel Artis, cabinet, avocat, droit, propriété intellectuelle, droit de la santé, droit de l'entreprise, droit commercial, marque, droits d'auteurs, brevet, droit des sociétés, droit de la distribution, contentieux, aix-les-bains, savoie"/>
    <meta name="author" content="Bruno Kerrien"/>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!-- CSS -->
    <link rel="stylesheet" href="/style/screen.css" media="screen" type="text/css"/>
  </head>
  <body>
    <div id="content">
      <h2>Bienvenue sur</h2>
      <h1 id="logo"><span>Artis-Avocat.com</span></h1>
      <h3>Le droit, un outil au service de l'entreprise privée ou publique</h3>
    </div>
  </body>
</html>