                <div id="content">
                    <h3>Le CABINET MURIEL ARTIS AVOCAT est actuellement composé de Me&nbsp;Muriel&nbsp;ARTIS.</h3>
                    <p><img class="center" src="images/martis.jpg" width="286px" height="229px" alt="Me Muriel ARTIS"/></p>
                    <dl class="level1">
                        <dt>Expérience</dt>
                        <dd>Prestation de serment en janvier 1997</dd>
                        <dd>Exercice de la profession d'avocat depuis 11 ans</dd>
                        <dd>Acquisition de la mention de spécialisation en propriété intellectuelle en 2002</dd>
                        <dd>Collaboratrice au sein de BISMUTH Avocat depuis janvier 1997 en tant que directrice du département propriété intellectuelle et responsable du département droit de la santé et droit public</dd>
                        <dd>Associée au sein de BISMUTH Avocat à compter de janvier 2007 jusqu'à la création fin 2007 du CABINET MURIEL ARTIS AVOCAT</dd>
                    </dl>
                    <dl class="level1">
                        <dt>Autres activités</dt>
                        <dd>Chargé de cours  à l'université de Saint au sein du Master de droit des affaires appliquées aux industries de santé</dd>
                    </dl>
                    <dl class="level1">
                        <dt>Profil</dt>
                        <dd class="level2">
                            <dl>
                                <dt>Formations</dt>
                                <dd>Major du DEA de droit des créations immatérielles du Professeur VIVANT (Université de Montpellier)</dd>
                                <dd>Titulaire du DESS de propriété industrielle  du professeur BONET Université Paris II Panthéon Assas)</dd>
                            </dl>
                            <dl>
                                <dt>Langues</dt>
                                <dd>Anglais</dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
