                <div id="content" class="publications">
                    <dl class="level1">
                        <dt>Publications</dt>
                        <dd class="publication"><span class="title">&laquo;&nbsp;L'intrusion légale&nbsp;&raquo;</span><span class="context">EUROSEC 2002</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Le commerce électronique en Europe&nbsp;&raquo;</span><span class="context">EUROJURIS (association professionnelle  d'avocats) 2002</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Outil de coopération : le Groupement de Coopération Sanitaire&nbsp;&raquo;</span><span class="context">Journée d'information de l'ARH Rhône Alpes 2003</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Le GCS&nbsp;&raquo;</span><span class="context">Commission juridique de la conférence des directeurs des CHU 2003</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Brevetabilité des logiciels et logiciels libres&nbsp;&raquo;</span><span class="context">Salon de l'Internet 2003</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Charte d'utilisation des moyens informatiques&nbsp;&raquo;</span><span class="context">EUROSEC 2004</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Le droit à l'information du patient et responsabilité médicale&nbsp;&raquo;</span><span class="context">Formation IFD, laboratoire GALDERMA 2005-2006</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Actualité du GCS&nbsp;&raquo;</span><span class="context">Décideurs santé 2005</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Le Bail Emphytéotique Hospitalier - BEH&nbsp;&raquo;</span><span class="context">Commission juridique de la conférence des directeurs des CHU 2005</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Actualités du GCS&nbsp;&raquo;</span><span class="context">Commission juridique de la conférence des directeurs des CHU 2005</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Le GCS : principes de fonctionnement et difficultés de création&nbsp;&raquo;</span><span class="context">CNAMTS 2006</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Propriété intellectuelle en milieu hospitalier&nbsp;&raquo;</span><span class="context">Commission juridique de la conférence des directeurs des CHU 2006</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;L'utilisation des oeuvres d'autrui&nbsp;&raquo;</span><span class="context">CITIA 2006</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;La gestion de l'écrit dans les marchés de sous traitance&nbsp;&raquo;</span><span class="context">Conseil Général du Calvados 2007</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;La protection de l'oeuvre multimédia&nbsp;&raquo;</span><span class="context">CRITT TECHNOLAC 2007</span></dd>
                        <dd class="publication"><span class="title">&laquo;&nbsp;Actualités de droit des marques&nbsp;&raquo;</span><span class="context">Barreau de Chambéry 2007</span></dd>
                    </dl>
                    <dl class="level1">
                        <dt>Formations</dt>
                        <dd>Réalisation d'un cycle de formation à destination de médecins dermatologues sur le droit à l'information du patient</dd>
                        <dd>Réalisation d'une formation sur la contractualisation dans le cadre de la nouvelle gouvernance</dd>
                    </dl>
                </div>
