                <div id="content">
                    <div class="firstbloc">
                        <h3>Me Muriel ARTIS est titulaire depuis 2002 de la mention de spécialité en droit de la propriété intellectuelle.</h3>
                        <p>Cette spécialisation permet à Me Muriel ARTIS d'accompagner les entreprises privées et les créateurs notamment dans les domaines suivants :</p>
                        <dl class="level1">
                            <dt>Droit des marques et des noms de domaines :</dt>
                            <dd>Surveillance et dépôt de marques</dd>
                            <dd>Rédaction de contrats : licence, accord de coexistence...</dd>
                            <dd>Contentieux : contrefaçon, opposition, contradiction avec un nom de domaines, une nom patronymique, une appellation d'origine...</dd>
                        </dl>
                        <dl class="level1">
                            <dt>Droit d'auteur</dt>
                            <dd>Protection des droits d'auteur et des droits voisins  tant sur un plan contentieux que sur un plan du conseil</dd>
                            <dd>Rédaction de contrats : contrat de licence, contrat d'édition, contrat de formation, contrat de cession, contrat de captation audiovisuel...</dd>
                            <dd>Droit à l'image des personnes et des biens</dd>
                        </dl>
                        <dl class="level1">
                            <dt>Droit de l'informatique et des nouvelles technologies</dt>
                            <dd class="level2">
                                <dl>
                                    <dt class="no-title">En matière de contentieux  techniques dans le cadre&nbsp;:</dt>
                                    <dd>D'expertise technique amiable ou judiciaire</dd>
                                    <dd>En matière judiciaire : contrefaçon, contestation de droits, projets informatiques non aboutis ou en difficultés</dd>
                                </dl>
                            </dd>
                            <dd>Rédaction de contrats informatiques : contrat d'intégration, contrat d'infogérance, contrat de licence, contrat de maintenance, contrat d'assistance, contrat relatifs à l'Internet, contrat de mise en oeuvre de projets informatiques complexes...</dd>
                            <dd>Protection des données personnelles : bilan CNIL, déclarations CNIL...</dd>
                        </dl>
                    </div>
                    <div class="bloc">
                        <p>La spécialisation de Me Muriel ARTIS lui permet d'accompagner des entreprises publiques, des établissement publics et des collectivités dans les domaines mentionnés ci-dessus, mais également en matière de marchés publics de propriété intellectuelle :</p>
                        <dl class="level1">
                            <dt>Marchés publics informatiques</dt>
                            <dd>Licence de logiciels</dd>
                            <dd>Marché de maintenance</dd>
                            <dd>Marché d'acquisition de matériels</dd>
                            <dd>Marchés de déploiement de solutions informatiques</dd>
                            <dd>Marchés de mise en oeuvre de réseaux</dd>
                        </dl>
                        <dl class="level1">
                            <dt>Marchés publics à procédure particulière</dt>
                            <dd>Accord cadre</dd>
                            <dd>Dialogue compétitif</dd>
                        </dl>
                        <dl class="level1">
                            <dt>Marchés publics de prestations intellectuelles</dt>
                            <dd>Création d'une charte graphique (identité visuelle, logo)</dd>
                            <dd>Dépôt de marque</dd>
                            <dd>Création d'un site web</dd>
                            <dd>Création de programme de web TV</dd>
                        </dl>
                    </div>
                </div>
